name: Terraform Destroy

on:
    workflow_dispatch:

env:
    TF_VERSION: 1.5.0
    WORKING_DIR: .

jobs:
    destroy:
        runs-on: ubuntu-latest
        steps:
            - name: checkoutcode
              uses: actions/checkout@v3

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                terraform_version: ${{ env.TF_VERSION }}

            - name: Terraform Init
              run: terraform init
              working-directory: ${{ env.WORKING_DIR }}
              env:
                    ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
                    ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
                    ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                    ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

            - name: Terraform Destroy
              run: terraform destroy -auto-approve
              working-directory: ${{ env.WORKING_DIR }}
              env:
                    ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
                    ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
                    ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                    ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}